/* 修复 BnMessage 组件层级比 element-plus dialog 低 */
.z-index-3000 {
  z-index: 3000 !important;
}

/* bc-chart-config-modal 全局样式 */
.bc-chart-config-modal {
  overflow: hidden;
  border-radius: 12px !important;
}

.bc-chart-config-modal .el-dialog__header {
  padding: 0;
  margin: 0;
}

.bc-chart-config-modal .el-dialog__body {
  padding: 0;
}

:root {
  --el-color-primary: var(--bn-primary) !important;
}

/* 手风琴式展开动画 */
.collapse-transition-enter-active,
.collapse-transition-leave-active {
  /* transition: all 0.3s cubic-bezier(0.53, 0.84, 0.93, 0.83); */
  transition: all 0.3s ease-in-out;
}

.collapse-transition-enter-from,
.collapse-transition-leave-to {
  max-height: 0;
}

/* element-plus 自定义 popover 样式 */
.bc-dial-bar-popover {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
