.bc-chart-config-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  background: #fff;
  border-bottom: 1px solid #edf1f6;

  .title-box {
    display: flex;
    align-items: center;
    padding: 0 32px;

    .title-box-item {
      font-size: 18px;
      font-weight: 400;
      color: #9ca6b9;
      cursor: pointer;

      &:hover,
      &.active {
        color: #242934;
      }

      &:not(:last-child) {
        margin-right: 60px;
      }
    }
  }

  .close-icon {
    margin-right: 23px;
    font-size: 18px;
    color: #9ca6b9;
    cursor: pointer;
  }
}

.customize-dialog-content {
  position: relative;

  .customize-dialog-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    padding-right: 28px;
    background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, #fff 100%);
  }
}

// 滚动条
::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

// 滚动条头
::-webkit-scrollbar-thumb {
  background-color: rgb(184 198 211 / 20%);
  border-radius: 1em;
}

// 滚动条轨道
::-webkit-scrollbar-track {
  background-color: rgb(244 237 237 / 20%);
  border-radius: 1em;
}
